{#-
  Port of docsy v0.16.0 layouts/docs/list.html. Also used for the home page
  (index.html extends this), which in docsy is the same docs list layout once a
  site cascades `type: docs`.
-#}
{% extends "base.html" %}
{% block kind %}{% if section.path == "/" %}home{% else %}section{% endif %}{% endblock kind %}
{% block main %}
<div class="td-content">
  <h1>{{ section.title }}</h1>
  {%- if section.description %}<div class="lead">{{ section.description | markdown(inline=true) | safe }}</div>{% endif %}
  <header class="article-meta"></header>
  {% block content_after_header %}{% endblock content_after_header %}
  {{ section.content | safe }}
  {% include "partials/section-index.html" %}
  {% block content_end %}{% endblock content_end %}
</div>
{% endblock main %}
